<!DOCTYPE html>
<html>
  <head>
    <title>OAuth2</title>
  </head>
  <body>

    <h1><%= title %></h1>

    <form action="http://127.0.0.1:4000/auth" method="get">
      <input name="code" type="hidden" value="<%= code %>">
    <p>
      <button type="submit">SEND CODE</button>
    </p>
    </form>

  </body>
</html>
