<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add user</title>
</head>
<body>
  <h1>Add user in OAuth Server</h1>
  <form action="/client" method="post">
    <p>
      <label>username:
        <input type="text" name="username" value="test" />
      </label>
    </p>
    <p>
      <label>password:
        <input type="text" name="password" value="test" />
      </label>
    </p>
        <p>
      <label>firstname:
        <input type="text" name="firstname" value="Raymond" />
      </label>
    </p>
    <p>
      <label>lastname:
        <input type="text" name="lastname" value="Perminov" />
      </label>
    </p>
    <p>
      <label>email:
        <input type="text" name="lastname" value="test@test.test" />
      </label>
    </p>
    <p>
      <button type="submit">ADD</button>
    </p>
  </form>
</body>
</html>
