<!DOCTYPE html>
<html>
  <head>
    <title>OAuth2</title>
  </head>
  <body>

    <h1>Get Token</h1>

    <form action="http://127.0.0.1:3000/token" method="post">
      <input name=client_secret" type="hidden" value="">
      <input name="client_id" type="hidden" value="1">
      <input name="user_id" type="hidden" value="1">
      <input name="client_id" type="hidden" value="1">
      <input name="username" type="hidden" value="1">
      <input name="password" type="hidden" value="1">
      <input name="grant_type" type="hidden" value="1">
    <p>
      <button type="submit">POST</button>
    </p>
    </form>

  </body>
</html>
